@charset "utf-8";
.u-button-like-text {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: inherit;
    background: transparent;
    font-size: inherit;
}

.dropbox-list {
    transition: opacity 0.5s;
}

.translucent {
    opacity: .5;
}

.dropbox-list-title {
    font-size: 1.2em;
}

.dropbox-list-content {
    text-align: left;
}

.dropbox-item {
    color: #0073aa;
}

.dropbox-item:hover {
    color: #00a0d2;
}